.entete {
	position: fixed;
	padding: 4px;
	background-color: black;
	width: 100%;

body{
margin:0;
padding:0;
background: url(acceuilguitare.jpg) no-repeat center fixed; 
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover; /* version standardisée */
}

.decallageadroite {
padding-left: 650px 
}

.float {
	float: left;
}

.monboutonblanc {
	border-radius: 8px;
    height: 43px;
    width: 144px;
    background-color: white;
}

.monboutonnoir {
	border-radius: 8px;
    height: 43px;
    width: 144px;
    background-color: black;
    border: none;
    color: white;
}

#boxrubrique {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    height:270px;
    width:410px;
    border:3px solid #8e2828;
    overflow-x: hidden;
	overflow-wrap: break-word; }

footer {
	position: fixed;
	background-color: black;
	padding: 8px;   
}





.position {
	position: relative; left 70%;
}

.textBlanc {
color: white;
text-align: center;
}

.clear{	
	clear: both;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

.wrapperCCC {
	margin: 0 auto;
	width: 500px;
	height: 830px;
}

.centrageproduit
{    margin: 0 auto;
    width: 400px;
}

td p {
	font-size: 20px
}

.rectifMargin {
	margin-top: 0px
}

.centagetableau{
	padding-top: 60px
}
