.entete {
	position: fixed;
	background-color: black;
	padding: 10px; 
}

body{
	margin:0;
	padding:0;
	background: url(../img/display/acceuilguitare2.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

#boxtexteacceuil {
	/*padding:10px; pour donner une hauteur définie; padding: l'intérieur du cadre*/
	width:400px;
	text-align:left;
    border:3px solid #af0d0dba;
    overflow-x: hidden;
	overflow-wrap: break-word;
}

.pieddepage {
	position: fixed;
	background-color: black;
	padding: 8px;   
	bottom: 0px;
	width: 100%;
	color: white;
}

.hiddenMsg {
	display: none;
	color: brown;
	font-size: 12px;
}

.mamodal {
    background-image:url(../img/display/visage.gif);
    background-size: 470px;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.mamodal1 {
    background-image:url(../img/display/monde.gif);
    background-size: 470px;
    background-repeat: no-repeat;
}

.modalMention{
	background-image:url(../img/display/mentions2.jpg);
	background-size: 600px;
	background-repeat: no-repeat;
	color: white;
	
}
.btn-noDecoration {
	color: white;
}

.imgArticle {
	max-width: 100%;
    max-height: 100%;
}