.entete {
	position: fixed;
	background-color: black;
	padding: 10px; 
	z-index: 10000;
}

.bonjour{
	/*position: absolute;
	top: 5px;*/
	margin-top:8px;
	color: white; 
	text-align: right;
}

.utilisateur{
	/*position: absolute;
	top: 5px;*/
	color: white;
	text-align: left;
	font-family: fantasy;
}

.centre{
	margin-top:4px;
}

.btn-noDecoration{
	color: white;
}

.cacheTexte{ /*cache le chat a l'arrivée*/
	display: none;
}

.encadreChat{
	z-index: 100000;
	padding-left: 11px;
    padding-right: 24px;
}

.zoneTexte{ /*zone décriture chat*/
height: 200px;
overflow-x: hidden; /*produit la barre de défilement scroll*/
overflow-wrap: break-word; /*mets le texte à la ligne*/
}

body{
	margin:0;
	padding:0;
	background: url(../img/display/acceuilguitare2.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.news{
	padding:20px; /*pour donner une hauteur définie; padding: l'intérieur du cadre*/
	width:600px;
	text-align:left;
    border:5px solid #6c757d;
	overflow-wrap: break-word;
	margin-left: 50px;
}

.mamodal{
    background-image:url(../img/display/visage.gif);
    background-size: 470px;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.mamodal1{
    background-image:url(../img/display/monde.gif);
    background-size: 470px;
    background-repeat: no-repeat;
}

.modalMention{
	background-image:url(../img/display/mentions2.jpg);
	background-size: 600px;
	background-repeat: no-repeat;
	color: white;
}

.pieddepage{
	position: fixed;
	background-color: black;
	padding: 10px;   
	bottom: 0px;
	width: 100%;
	color: white;
}

.hiddenMsg{ /*style Event de l'inscription et de la connexion*/
	display: none;
	color: brown;
	font-size: 12px;
}

#logoMonCompte{
	position: relative;
	left: 60px;
	top: -10px;
	display: none;
	margin: -10px;}

.imgArticle{
	max-width: 200px;
	max-height: 200px;
	padding: 20px 20px 20px 30px;
}

.textCentre { /*Déroulents des catégories*/
	text-align: center;
}

.separation {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.encadreRecherche {
	border:5px solid #6c757d;
	margin-top: 100px;
}

.lien-noDeco{
	color: black;
	/*text-decoration:underline;*/
}

.bordPanier {
	border: 1px solid black;
	text-align: center;
}