.entete {
	position: fixed;
	background-color: black;
	padding: 10px; 
	z-index: 1100;
}

.bonjour{
	margin-top:7px;
	color: white; 
	text-align: right;
}

.utilisateur{
	color: white;
	text-align: left;
	font-family: fantasy;
}

.centre{
	margin-top:4px;
}

.btn-noDecoration{
	color: white;
}

.cacheTexte{ /*cache le chat a l'arrivée*/
	display: none;
}

.encadreChat{
	z-index: 100000;
	padding-left: 11px;
    padding-right: 24px;
}

.zoneTexte{ /*zone décriture chat*/
height: 200px;
overflow-x: hidden; /*produit la barre de défilement scroll*/
overflow-wrap: break-word; /*mets le texte à la ligne*/
}

body{
	margin:0 auto;
	padding:0;
	background: url(../img/display/acceuilguitare2.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.news{
    border:5px solid black;
	overflow-wrap: break-word;
}

.mamodal{
    background-image:url(../img/display/visage.gif);
    background-size: 470px;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.mamodal1{
    background-image:url(../img/display/monde.gif);
    background-size: 470px;
    background-repeat: no-repeat;
}

.modalMention{
	background-image:url(../img/display/mentions2.jpg);
	background-size: 600px;
	background-repeat: no-repeat;
	color: white;
}

.pieddepage{
	position: fixed;
	background-color: black;
	padding: 10px;   
	bottom: 0px; /* pour placer la barre en bas*/
	width: 102%;
	color: white;
}

@media screen and (max-width: 640px) {
	.pieddepage{
		width: 105%;
	}
}

.hiddenMsg{ /*style Event de l'inscription et de la connexion*/
	display: none;
	color: brown;
	font-size: 12px;
}

#logoMonCompte{
	position: relative;
	left: 60px;
	top: -10px;
	display: none;
	margin: -10px;}

.imgArticle{
	max-width: 200px;
	max-height: 200px;
	padding: 20px 20px 20px 30px;
}

.textCentre { /*Déroulents des catégories*/
	text-align: center;
}

.separation {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.encadreRecherche {
	border:5px solid #6c757d;
	margin-top: 100px;
	padding: 20px 20px 10px 20px;
}

.lien-noDeco{
	color: black;
	/*text-decoration:underline;*/
}

.bordPanier {
	border: 1px solid black;
	text-align: center;
}

@media screen and (max-height:740px) {
	#tailleModal {
	height: 350px !important;
	overflow-x: hidden;
	}
}

.couleurTexte {
	color: white;
}

/*zoom image articles*/
.zoom {
	background-color: rgba(0, 0, 0, 0);
	transition: transform .2s; /* Animation */
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 45px;
	border: 3px solid black;
}
.zoom:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}