{% extends "masterPage.html.twig" %}

{% block title %} Article {% endblock %}

{% block content %}
<!-- Déroulents des catégories -->
<div class="row col-md-12" style="width:100%; margin:0;">
		{% for categorie in categories %}
			<div class="col-md-4">
				<div class="dropdown">
					<button class="col-sm-12 btn btn-secondary dropdown-toggle" 
					type="button" 
					id="dropdownMenu1" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false"> {{ categorie.libelle }}
					</button>
					<div class="col-sm-12 dropdown-menu textCentre" aria-labelledby="dropdownMenu1">
						<hr/ class= "separation">
						{% for subcat in categorie.subcat %}
							<button class="dropdown-item"><a href="index.php?subcat={{ subcat.id }}">{{ subcat.libelle }}</a></button>
						<hr/ class= "separation">
						{% endfor %}
					</div>
				</div>	
			</div>
		{% endfor %}
	</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-10">
        <div class="row">
            {% set ok = 0 %}
            {% for article in articles %}
                {% set ok = ok + 1 %}
                {% if ok is divisible by(2) %}
                    <div class="col-sm-6">    
                        {% include 'pages/elements/article.html.twig' with {'article': article } %}
                    </div>
                    </div><div class="row">
                {% else %}
                    <div class="col-sm-6">    
                        {% include 'pages/elements/article.html.twig' with {'article': article } %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if not ok is divisible by(2) %}
                <div class="col-sm-6"><div class="row" style="border: 5px black solid ;  background-color: whitesmoke;height: 200px"><div class="col-sm-12"></div></div></div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}