{% extends "masterPage.html.twig" %}

{% block title %}Mon compte - {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12 bordPanier">
			Mon profil:
			</div>
		</div>
		<form id="myForm">
			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="lastName">Nom :</label>
				</div>
				<div class="col-md-7">
					<input name="lastName" id="lastName" type="text" class="col-md-12"/>
					<span id="errorLastName" class="tooltip hiddenMsg">Un nom ne peut pas faire moins de 2 caractères</span>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="firstName">Prénom :</label>
				</div>
				<div class="col-md-7">
					<input name="firstName" id="firstName" type="text" class="col-md-12"/>
					<span id="errorFirstName" class="tooltip hiddenMsg">Un prénom ne peut pas faire moins de 2 caractères</span>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="date_naiss">Date de Naissance: :</label>
				</div>
				<div class="col-md-7">
					<input name="date_naiss" id="date_naiss" type="text" class="col-md-12"/>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="login">Pseudo :</label>
				</div>
				<div class="col-md-7">
					<input name="login" id="pseudo" type="text" class="col-md-12"/>
					<span id="errorPseudo" class="tooltip hiddenMsg">Le pseudo ne peut pas faire moins de 4 caractères</span>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="pwd1">Mot de passe :</label>
				</div>
				<div class="col-md-7">
					<input name="pwd1" id="pwd1" type="password" class="col-md-12"/>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="pwd2">Mot de passe (confirm) :</label>
				</div>
				<div class="col-md-7">
					<input name="pwd2" id="pwd2" type="password" class="col-md-12"/>
					<span id="errorPwd1" class="tooltip hiddenMsg">Le mot de passe ne doit pas faire moins de 6 caractères</span>
					<span id="errorPwd2" class="tooltip hiddenMsg">Le mot de passe de confirmation doit être identique à celui d'origine</span>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="lastName">Adresse Facturation:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="text" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
				<div class="col-md-5">
					<label class="form_col" for="lastName">Code Postal:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="number" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
				<div class="col-md-5">
					<label class="form_col" for="lastName">Ville:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="text" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
			</div>

			<div class="row bordPanier">
				<div class="col-md-5">
					<label class="form_col" for="lastName">Adresse Livraison:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="text" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
				<div class="col-md-5">
					<label class="form_col" for="lastName">Code Postal:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="number" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
				<div class="col-md-5">
					<label class="form_col" for="lastName">Ville:</label>
				</div>
				<div class="col-md-7">	
					<input name="adresse" id="adresse" type="text" class="col-md-12"/>
					<span id="errorAdresse" class="tooltip hiddenMsg"></span>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4 bordPanier">
		Historique des mes achats:
	</div>
	<div class="col-md-1"></div>
</div>







{% endblock %}