{% extends "masterPage.html.twig" %}

{% block title %}Accueil - {% endblock %}

{% block content %}

<!-- Déroulents des catégories -->
	<div class="row">
		{% for categorie in categories %}
			<div class="col-md-4">
				<div class="dropdown">
					<button class="col-sm-12 btn btn-secondary dropdown-toggle" 
					type="button" 
					id="dropdownMenu1" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false"> {{ categorie.libelle }}
					</button>
					<div class="col-sm-12 dropdown-menu textCentre" aria-labelledby="dropdownMenu1">
						<hr/ class= "separation">
						{% for subcat in categorie.subcat %}
							<button class="dropdown-item"><a href="index.php?subcat={{ subcat.id }}">{{ subcat.libelle }}</a></button>
						<hr/ class= "separation">
						{% endfor %}
					</div>
				</div>	
			</div>
		{% endfor %}
	</div>
	<div style="width:100%; height: 30vh;"></div>

	<!-- Box News -->
	<div id="boxtexteacceuil" class= "news">             
		<p>Bienvenue sur le site Diakustom, nous sommes ravis de vous acceuillir.</p>
		<p>N'hésitez pas à nous contacter par le chat Live Vendeur, ou pas mail:<a href="mailto:diakustom@gmail.com"> diakustom@gmail.com</a>
		</p>
	</div>

	<div style="width:100%; height: 20%;">
	</div>
{% endblock %}