<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}Diakustom</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="lib/libbootstrap/css/bootstrap.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script type="text/javascript" src="lib/js/jquery.js"></script>
    <script type="text/javascript" src="lib/libbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/js/js.js"></script>
    <link rel="stylesheet" href="src/css/monprojet.css"/>
</head>
<body>
    <form id="formNav" action="index.php" method="POST">
        <input type="hidden" id="controllerAction" name="controllerAction" value="index" />

        <!-- Entête -->
        <header class="col-md-12 entete">
            <div class="row">
                <div class="col-md-2">
                    <a href="index.php" class="float"><img src= "src/img/display/logoPetit.png" height="40px" alt="index" title="index" ></a>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        {% if session is defined %}
                        <div class="col-md-6 bonjour">
                        Bonjour 
                        </div>
                        <button id="btnCompte" class="col-md-6 btn btn-link utilisateur">
                            <h5>{{ session.prenom }}
                            </h5>
                            <img src= "src/img/display/monCompte.png" height="20px" id="logoMonCompte" alt="index" title="index" >

                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <div class= "row">
                        <div class="col-md-4">
                            <button id="btnIndex" class="col-md-11 btn btn-light centre"> Accueil</button>
                        </div>
                        <div class="col-md-4">
                            <button class="col-md-11 btn btn-light centre" id="linkPanier" type="button"> Mon panier</button> 
                        </div>
                        {% if session.prenom is defined %}
                        <div class="col-md-4">
                            <input type="button" id="btnlogout" value="Se déconnecter" class="col-md-11 btn btn-light centre"  name="controllerAction" />
                        </div>
                            {% else %}
                        <div class="col-md-4">
                            <button type="button" class="col-md-11 btn btn-light centre" data-toggle="modal" data-target="#connectionModal"> Connexion</button>
                        </div>
                            {% endif %}
                    </div>
                </div>	
            </div>
        </header>

        <div style="height: 64px;"></div>
        {% block content %}{% endblock %}

        <!-- Div chat -->

        <div class="row"  style="position: fixed; bottom: 46px; width: 102%; z-index:100000">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3"></div>
            <div id="displayLive" class="encadreChat col-md-4 cacheTexte">
                <div style="border: 5px solid #6c757d; background-color: whitesmoke;">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <p>{{chat.date }}</p>
                        <p class="form-control zoneTexte" id="exampleFormControlTextarea1" rows="10">
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Ecrivez nous en live!</label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="1"></textarea>
                    </div>
                    <button id="envMsg" type="button" class="col-md-4 offset-md-8 btn btn-dark">Envoyer</button>
                </div>
            </div>
        </div>
    
        <!-- Footer -->
        <footer class="row pieddepage"> 
            <div class="col-md-4">
                <input class="form-control" name = "recherche" type="search" placeholder="Tapez votre recherche.." aria-label="Search">
            </div>
            <div class="col-md-1">   
                <button id="btnEnvRech" class="btn btn-outline-secondary">Go!</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-link btn-noDecoration" data-toggle="modal" data-target="#mentionModal">Mentions légales / Contacts</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-light col-md-12 " id="liveVendeur" data-toggle="modal" data-target="#modalLive">Live vendeur
                </button>
            </div>
        </footer>

        <!--  MODAL CONNEXION --> 
        <div style= "z-index: 1101" class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="connectionModalLabel">Se connecter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mamodal1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 text-center">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                        <input type="email" name="emailConnection" class="form-control" placeholder="Votre email" /> <br />
                                        <label for="exampleInputPassword1">Mot de passe</label>
                                        <input type="password" class="form-control" name="mdpConnection" placeholder="Votre mot de passe" /> <br />
                                        <button type="button" id="btnInscription" data-toggle="modal" data-target="#exampleModalLong" class ="btn btn-link btn-noDecoration" >S'inscrire
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnConnection" class="col-sm-3 btn btn-dark">Se connecter</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL INSCRIPTION -->
        <div style= "z-index: 1101" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">S'inscrire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mamodal">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 text-center">
                                        <div class="form-group">
                                            <label for="validationDefault01" style="color: white;">Prénom</label> 
                                            <input type="text" id="lastName" name="lastName" class="form-control col-md-6" placeholder="Votre prénom" />
                                            <span id="errorLastName" class="hiddenMsg">Un prénom ne peut pas faire moins de 2 caractères</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="validationDefault02">Nom</label>
                                            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Votre nom" />
                                            <span id="errorFirstName" class="hiddenMsg">Un nom ne peut pas faire moins de 2 caractères</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="pseudo">Pseudo</label>
                                            <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Votre pseudo" />
                                            <span id="errorPseudo" class="hiddenMsg">Le pseudo ne peut pas faire moins de 4 caractères</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                            <input id="email" type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Votre adresse email" />
                                            <span id="errorEmail" class="hiddenMsg">Email invalide</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" for="pwd1">Mot de Passe</label>
                                            <input class="form-control" type="password" name="pwd1" id="pwd1" placeholder="Votre Mot de Passe" />
                                            <span id="errorPwd1" class="hiddenMsg">Le mot de passe ne doit pas faire moins de 6 caractères</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" for="pwd2">Mot de Passe (confirmation)</label>
                                            <input class="form-control" type="password" name="pwd2" id="pwd2" placeholder="Votre Mot de Passe" />
                                            <span id="errorPwd2" class="hiddenMsg">Le mot de passe de confirmation doit être identique à celui d'origine</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="linkInscription" class="col-sm-3 btn btn-dark">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Modal Mentions légales / Contact-->
        <div style= "z-index: 1101" class="modal fade" id="mentionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Mentions légales / Contacts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modalMention"
                            <h6>Bienvenue sur "Diakustom". </h6>
                            <P>Siège social Diakustom </br>7 rue de l'étuve </br>54210 Saint Nicolas de Port </br> 06.29.13.26.12 </br> diakustom@gmail.com</p>
                            <p>En accédant ou en utilisant notre service, vous signifiez que vous avez lu, compris et accepté la collecte, le stockage, l'utilisation et la divulgation de vos informations personnelles.</P>
                            <h6>INFORMATIONS PERSONNELLES</h6>
                            <P>Nous ne collectons, partageons, vendons, envoyons ou utilisons aucune information personnelle, à l'exception des informations personnelles que vous soumettez lorsque vous nous envoyez un courrier électronique, envoyez un rapport d'erreur, participez à des sondages en ligne et à d'autres activités. </br> Nous ne pouvons utiliser les informations personnelles que vous avez fournies que pour les objectifs suivants: </p> 
                                <ul>
                                    <li> Fournir et améliorer nos produits et services</li> 
                                    <li> Fournir un service de meilleure qualité </li>
                                    <li> Gérer des sondages en ligne et autres activités auxquelles vous avez participé.</li>
                                </ul> 
                            <h6>PROTECTION DES PERSONNES</h6>
                            <P>Nous prenons des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé et toute divulgation. Sachez que vous êtes responsable des informations que vous transmettez à d’autres services (par exemple, lorsque vous soumettez des commentaires sur nos produits). Veuillez donc prendre les précautions nécessaires lorsque vous utilisez d'autres services pour protéger vos informations personnelles.</P>
                            <h6>MISES À JOUR DE CETTE POLITIQUE</h6>
                            <P>Nous nous réservons le droit de modifier cette politique de temps à autre. Si nous apportons des modifications à cette politique, nous modifierons la date de "Dernière révision" ci-dessous et afficherons la politique mise à jour sur cette page.</p>
                            <p> MAJ Janvier 2019</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-sm-3 btn btn-dark" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div> <!-- end modal -->

               
            
    </form>
</body>
</html>