{% extends "masterPage.html.twig" %}

{% block title %}Articles Boutons - {% endblock %}

{% block content %}
<div>
<img src="src/img/parametre.png" alt="parametre sygle" height="128" width="128" id='parametre' class='categImage'>
<img src="src/img/parametre.png" alt="parametre sygle" height="128" width="128" id='parametre' class='categImage'>
<img src="src/img/parametre.png" alt="parametre sygle" height="128" width="128" id='parametre' class='categImage'>
</div>


{% endblock %}