{% extends "masterPage.html.twig" %}

{% block title %}Accueil - {% endblock %}

{% block content %}
	<div style="width:100%; height: 15vh;">
	</div>
	<!-- Déroulant vetements-->
	<div class="dropdown">
		<button class="col-sm-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Vêtements
		</button>
		<div class="col-sm-3 dropdown-menu" aria-labelledby="dropdownMenu2">
				<input id="navPantalons" class="dropdown-item" type="button" name="controllerAction" value='Pantalons'/>
				<input id="navRobes" class="dropdown-item" type="button" name="controllerAction" value='Robes'/>
				<input id="navTeeshirt" class="dropdown-item" type="button" name="controllerAction" value='Tee-shirt'/>
		</div>
	</div>
	</br></br>

	<!-- Déroulant accessoires-->
	<div class="dropdown">
		<button class="col-sm-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Accessoires
		</button>
		<div class="col-sm-3 dropdown-menu" aria-labelledby="dropdownMenu2">
				<input id="navBoutons" class="dropdown-item" type="button" name="controllerAction" value='Boutons'/>
				<input id="navCeintures" class="dropdown-item" type="button" name="controllerAction" value='Ceintures'/>
		</div>
	</div>
	</br></br>

	<!-- Déroulant accessoires-->
	<div class="dropdown">
		<button class="col-sm-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Autres
		</button>
		<div class="col-sm-3 dropdown-menu" aria-labelledby="dropdownMenu2">
				<input id="navBijoux" class="dropdown-item" type="button" name="controllerAction" value='Bijoux'/>
				<input id="navAutres" class="dropdown-item" type="button" name="controllerAction" value='Autres'/>
		</div>
	</div>
</br></br>

	<div id="boxtexteacceuil">             
		<p>Bienvenue sur la site Diakustom, nous sommes ravis de vous acceuillir.</p>
		<p>N'hésitez pas à nous contacter par le chat Live Vendeur, ou pas mail:<a href="mailto:diakustom@gmail.com"> diakustom@gmail.com</a>
		</p>
	</div>
	<div style="width:100%; height: 15vh;">
	</div>
{% endblock %}